<html>
<head>
  <link rel="stylesheet" href="css/app.css">
</head>
<body>
  <div class="main">
    <div class="header">

    </div>

    <div class="search-view">
      <div class="search-category">
        <div class="search-input">
            <input type="text" class="search-keyword">
        </div>
      </div>
      <div class="search-category">

      </div>
    </div>
  </div>
</body>
</html>