<%- include('shared/head') -%>

<div class="main">
  <%- include('shared/header') -%>

  <div class="searches">
    <div class="searches__inner">
      <h4 class="searches__header">Recent Searches</h4>
      <div class="searches__table-wrapper">
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>Location</th>
              <th>Keywords</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
    </div>
</div>

<%- include('shared/foot') -%>