@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 300;
  src: local('Quicksand Light'), local('Quicksand-Light'), url(https://fonts.gstatic.com/s/quicksand/v8/6xKodSZaM9iE8KbpRA_pgHYYT8L6.ttf) format('truetype');
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: local('Quicksand Regular'), local('Quicksand-Regular'), url(https://fonts.gstatic.com/s/quicksand/v8/6xKtdSZaM9iE8KbpRA_hK1QI.ttf) format('truetype');
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 500;
  src: local('Quicksand Medium'), local('Quicksand-Medium'), url(https://fonts.gstatic.com/s/quicksand/v8/6xKodSZaM9iE8KbpRA_p2HcYT8L6.ttf) format('truetype');
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
}
a {
  text-decoration: none;
  color: #298fff;
}
button,
input {
  font-family: inherit;
  font-size: inherit;
}
button {
  cursor: pointer;
}
ul {
  list-style: none;
}
.container {
  max-width: 1200px;
  margin: 0px auto;
  padding: 0px 15px;
}
.text-center {
  text-align: center;
}
.width-number {
  width: 40px;
}
.main {
  padding: 10px 0px;
}
.header {
  padding: 25px 0px;
}
.header h1 {
  color: #4c6a8a;
}
.search-view {
  margin-bottom: 50px;
}
.search-view__header {
  padding: 25px 0px;
}
.search-view .search-categories {
  display: flex;
  margin-bottom: 25px;
}
.search-view .search-categories .search-category {
  width: 50%;
}
.search-view .search-categories .search-category:first-child {
  margin-right: 15px;
}
.search-view .search-categories .search-category > .search-input input {
  display: block;
  width: 100%;
  height: 60px;
  padding: 8px 12px;
  border: 2px solid #b4c4d6;
}
.search-view .search-submit > button {
  display: block;
  background-color: #509ceb;
  width: 350px;
  margin: 0px auto;
  padding: 20px 80px;
  border: none;
  color: #fff;
}
.search-view .search-view-filter {
  display: flex;
}
.search-view .search-view-filter__location {
  width: 50%;
}
.search-view .search-view-filter__keywords {
  width: 50%;
}
.search-view .search-view-filter__value {
  font-size: 24px;
}
.profile-list-view .profiles .profile {
  display: flex;
  padding: 15px 0px;
  border-bottom: 1px solid #e1e7ec;
}
.profile-list-view .profiles .profile .info--counter {
  display: flex;
  align-items: center;
  margin-right: 10px;
  padding-top: 2px;
  color: #4b698a;
}
.profile-list-view .profiles .profile .info--counter span {
  color: inherit;
}
.profile-list-view .profiles .profile .info--profile-name {
  display: flex;
  flex: 1;
  align-items: center;
  font-weight: 500;
}
.profile-list-view .profiles .profile .info--profile-name .icon {
  margin-right: 20px;
  font-size: 28px;
  color: #4c6a8a;
}
.profile-list-view .profiles .profile .info--profile-name .profile-name {
  font-size: 18px;
}
.profile-list-view .profiles .profile .info--profile-url {
  display: flex;
  align-items: center;
}
.profile-list-view .profiles .profile .info--profile-url .profile-url {
  font-size: 14px;
}
.paginator-view .paginator-inner {
  max-width: 600px;
}
.paginator-view .pages {
  display: flex;
}
.paginator-view .pages .page {
  display: flex;
  justify-content: center;
  flex: 1;
}
.paginator-view .pages .page.active > a {
  background-color: #509ceb;
  color: #fff;
}
.paginator-view .pages .page > a {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f1f1f1;
  width: 60px;
  height: 60px;
  margin: 25px 0px;
  border-radius: 30px;
}
<<<<<<< HEAD
.searches__header {
  padding: 25px;
}
.table {
  width: 100%;
  border-collapse: collapse;
}
.table .cell {
  border-bottom: 1px solid #e1e7ec;
  text-align: left;
}
.table .cell--center {
  text-align: center;
}
.table .cell--padded {
  padding: 15px 20px;
}
.table .cell--small {
  font-size: 14px;
}
.badge {
  display: inline-block;
  padding: 2px 10px;
  border-radius: 3px;
}
.badge--green {
  background-color: #2ecc71;
  color: #ffffff;
}
.badge--red {
  background-color: #e74c3c;
  color: #ffffff;
}
.badge--small {
  font-size: 13px;
=======
.table table {
  width: 100%;
  border-collapse: collapse;
}
.table table td,
.table table th {
  padding: 15px 20px;
  text-align: left;
>>>>>>> 0a9e48a2ee321591a68e22ba82d0cb7ce81bde39
}
